<footer>
    <div class="footer-container">
      <ul>
        <li><a href="/">ANA SAYFA</a></li>
        <li><a href="/about">HAKKIMIZDA</a></li>
        <li><a href="/contact">İLETİŞİM</a></li>
      </ul>
      <hr />
      <p>
        Bu demo İnternet Sitesi içeriğinde yer alan tüm eserler (tasarım, kod,
        yazı, grafik, fotoğraf, video, müzik vb.) Berdan VIP Düğün Salonuna
        ait olup, 5846 sayılı Fikir ve Sanat Eserleri Kanunu ve 5237 sayılı
        Türk Ceza Kanunu kapsamında korunmaktadır.
      </p>
    </div>
  </footer>
  <script src="/js/app.js"></script>
</body>
</html>
