<%- include('./partials/_header.ejs') %>
<section class="hakkımda">
  <div class="hakkimda-container">
    <h2>HAKKIMIZDA</h2>
    <p><span>Ana Sayfa / </span>HAKKIMIZDA</p>
  </div>
  <div class="hakkimda-wrapper">
    <h3><%= hakkimizda.baslik %></h3>
    <p><%= hakkimizda.aciklama %></p>
  </div>
</section>
<%- include('./partials/_footer.ejs') %>
