<%- include('./partials/_header.ejs') %>
<section class="hizmetler">
  <div class="hakkimda-container">
    <h2>HİZMETLERİMİZ</h2>
    <p><span>Ana Sayfa / </span>Hizmetlerimiz</p>
  </div>
  <div class="hakkimda-wrapper">
    <%- include('./partials/_myServices.ejs') %>
  </div>
</section>
<%- include('./partials/_footer.ejs') %>
